body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px 3em;
}
h1 {
    margin-top: 0;
}
#headerPanel {
    display: flex;
    gap: 2em;
}
#headerPanel h2{
    font-weight: bold;
    font-size: 15pt;
    margin-bottom: 5px;
    margin-top: 0;
}
#headerPanel ul {
    margin-top: 0;
    list-style-type: none;
    margin-left: -2em;
    margin-bottom: 0;
}
section {
    margin-bottom: 1em;
}
.hoverText {
    font-weight: bold;
}
.elecLine:hover {
    stroke-width: 5px;
}
.area-label {
    fill-opacity: 0.5;
    fill: white;
    pointer-events: none;
}
.area:hover {
    stroke: #3d3d3d;
    stroke-width: 1px;
    /* fill: rgba(0, 0, 0, .5) */
}