body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#headerPanel {
    display: flex;
}

section {
    margin-bottom: 1em;
}

.elecLine:hover {
    stroke-width: 5px;
}
.area-label {
    font-family: sans-serif;
    fill-opacity: 0.7;
    fill: white;
}
